svg {
    width: 2rem;
    height: 2rem;
}

circle {
    fill: none;
    stroke: #000;
    stroke-width: 0.25rem;
    -webkit-animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite, rotate 1.6s linear infinite;
            animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite, rotate 1.6s linear infinite;
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
}

@-webkit-keyframes line {
    0% {
        stroke-dasharray: 2, 85.964;
        -webkit-transform: rotate(0);
    }

    50% {
        stroke-dasharray: 66.973, 21.9911;
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dasharray: 2, 85.964;
        stroke-dashoffset: -65.973;
        -webkit-transform: rotate(90deg);
    }
}

@keyframes line {
    0% {
        stroke-dasharray: 2, 85.964;
        transform: rotate(0);
    }

    50% {
        stroke-dasharray: 66.973, 21.9911;
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dasharray: 2, 85.964;
        stroke-dashoffset: -65.973;
        transform: rotate(90deg);
    }
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(450deg);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(450deg);
    }
}
